---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogCard from "@/components/BlogCard.astro";
import Tags from "@/components/Tags.astro";
import { getSortedPosts } from "@/lib/posts";

const posts = await getSortedPosts();
---

<BaseLayout>
	<div class="page-header">
		<h1>Blog</h1>
		<Tags />
	</div>
	<ul class="post-list">
		{posts.map((post) => <BlogCard post={post} />)}
	</ul>
</BaseLayout>
